#sidebar-wrapper {
    z-index: 1040;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    top: 0px;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper.toggled {
    left: 250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li button {
    display: block;
    text-decoration: none;
    color: #999999;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.sidebar-nav li button:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li button:active,
.sidebar-nav li button:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    text-indent: 0;
}

.sidebar-nav > .sidebar-brand button {
    color: white;
    text-align: center;
    padding-left: 0;
}

.sidebar-nav > .sidebar-brand button:hover {
    color: #fff;
    background: none;
}
