.box {
	background: white;
	border: 1px solid #eee;
	margin: 5px;
}

.box-title {
	text-align: center;
	padding: 10px;
	background: #E5E5E5;
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
}

.box-body {
	padding: 20px;
}

.box-footer {
	border-top: 1px solid #D0D0D0;
	padding: 20px;
}

.margin-btm-5 {
	margin-bottom: 5px;
}

.margin-btm-20 {
	margin-bottom: 20px;
}

.pad-10 {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.overlay {   
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.switch {
	float: none;
	margin-bottom: 20px;
}
